<div class="w-fit mx-auto">
  @if(user$ | async; as user) {
  <div class="flex gap-8 py-6">
    <div class="w-36 h-36 rounded-full overflow-hidden">
      <img alt="" [src]="user.picture" class="w-full h-full object-cover" />
    </div>
    <div class="flex flex-col justify-evenly">
      <div class="flex items-center gap-2">
        <div class="text-2xl">{{ user.username }}</div>
        @if(user.is_verified) {
        <mat-icon class="text-sky-500">verified</mat-icon>
        }
      </div>
      <div class="flex items-center text-base">
        {{ user.followers | numberFormat }} followers
      </div>
      <div>
        {{ user.fullname }}
      </div>
    </div>
    @if(contacts$ | async; as contacts) {
    <div>
      @for (item of contacts; track $index) {
      <p>{{ item.type }} : {{ item.formatted_value }}</p>
      }
    </div>
    }
  </div>
  } @if(posts$ | async; as posts) {
  <div class="grid grid-cols-3 gap-2 w-fit mx-auto">
    @for (item of posts.items; track item.code) {
    <app-post [post]="item" />
    }
  </div>

  @if(posts?.more_available && posts.end_cursor) {
  <div class="flex justify-center items-center py-4">
    <button
      mat-stroked-button
      color="primary"
      (click)="loadMore(posts.end_cursor)"
    >
      Load More
    </button>
  </div>
  } }
</div>
