@if(user$ | async; as user) {
<div class="flex justify-between items-center w-5/6 mx-auto pt-8">
  <header class="flex gap-8">
    <div class="w-36 h-36 rounded-full overflow-hidden">
      <img alt="" [src]="user.picture" class="w-full h-full object-cover" />
    </div>
    <section class="flex flex-col justify-evenly">
      <div class="flex items-center gap-2">
        <div class="text-2xl">{{ user.username }}</div>
        @if(user.is_verified) {
        <mat-icon class="verified">verified</mat-icon>
        }
      </div>
      <div class="flex items-center text-base">
        {{ user.followers | numberFormat }} followers
      </div>
      <div>
        {{ user.fullname }}
      </div>
    </section>
    <section>
      <app-icon icon="tiktok" />
    </section>
  </header>
</div>
}

<div class="grid grid-cols-3 gap-2 w-fit mx-auto">
  @for (item of (posts$ | async)?.items; track item.code) {
  <app-post [post]="item" />
  }
</div>
