.profile-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  gap: 8px;
}

.profile-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;


.profile-info {
  flex-grow: 1;
  font-size: 14px;
  line-height: 1.5;
}

.profile-info .user-name{
  color: rgb(70, 70, 70);
}

.profile-info .user-fullname {
  color: rgb(162, 162, 162);
}

.profile-followers {
    color: rgb(148, 148, 148);
    font-size: 15px;
}