<mat-form-field style="width: 282px">
  <mat-label>Search User</mat-label>
  <input
    matInput
    aria-label="User"
    [matAutocomplete]="auto"
    [formControl]="userCtrl"
  />
  <mat-icon matPrefix>search</mat-icon>
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="onSelected($event)"
    [displayWith]="displayFn"
  >
    @for (user of filteredUsers | async; track user.user_id) {
    <mat-option [value]="user">
      <div class="flex justify-between items-center gap-2 w-[250px]">
        <div class="w-9 h-9 rounded-full overflow-hidden">
          <img alt="" [src]="user.picture" class="h-full w-full object-cover" />
        </div>
        <div class="grow leading-normal text-xs">
          <div class="text-gray-600">&#64;{{ user.username }}</div>
          <div class="text-gray-400">{{ user.fullname }}</div>
        </div>
        <div class="text-gray-400 text-sm">
          {{ user.followers | numberFormat }}
        </div>
      </div>
    </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
